$white: white;
$black: black;

$blue-ocean: #32a1c7;
$cerulean: #07abdf;

$slight-gray: #ededee;

$ebony-clay: #20293a;

$abbey: #58595b;
$mischka: #d3d8e0;
$silver: #c4c4c4;

$silver-chalice: #adadad;
