@include foundation-global-styles;

body {
  font-size: $global-font-size;
}

html {
  font-size: 100%;
  font-size-adjust: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 67.5%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
