.container {
  background-color: $slight-gray;
  padding: rem-calc(38 0 29 0);
  margin-top: rem-calc(20);

  background-image: url("../../../images/d.png");
  background-repeat: no-repeat;

  @include breakpoint(tablet) {
    margin-top: rem-calc(35 + 42);
  }
}

.title {
  line-height: 1;
  font-size: rem-calc(25);

  color: $cerulean;
  text-align: center;
  font-weight: 900;
  margin-bottom: rem-calc(25);
  margin-top: 0;

  @include breakpoint(tablet) {
    margin-bottom: rem-calc(45);
    font-size: rem-calc(27);
    line-height: unset;
  }
}

.form {
  margin: auto;
  flex-direction: column;
  padding: rem-calc(0 40);

  @include flex;

  @include breakpoint(tablet) {
    width: 50%;
  }
}

.columns {
  @include breakpoint(tablet) {
    @include flex;
    @include flex-align(justify, null);
  }
}

.block {
  @include flex;

  margin-bottom: rem-calc(18);

  @include breakpoint(tablet) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // &:not(:last-child) {
  //   margin-bottom: rem-calc(18);
  // }

  &Gender.blockGender {
    margin-bottom: rem-calc(13);
  }
}

.label {
  color: $cerulean;
  font-weight: 500;
  font-size: rem-calc(20);
  margin-right: rem-calc(10);
}

.input {
  width: rem-calc(40);
  text-align: center;

  @include breakpoint(tablet) {
    width: rem-calc(36);
    height: auto;
    font-size: rem-calc(13);
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &Container {
    &:last-child {
      margin-left: rem-calc(5);
    }
  }

  &Label {
    display: block;
    text-align: center;
    margin-top: rem-calc(4);

    @include text-style(16, $ebony-clay, null, 1);

    @include breakpoint(tablet) {
      font-size: rem-calc(12);
    }

    &.hor {
      align-self: center;
      margin-left: rem-calc(3);
      margin-top: 0;
    }
  }
}

.submitBtn {
  background-color: $cerulean;
  align-self: center;
  padding: rem-calc(10 70);
  margin-top: rem-calc(25);
  border-radius: rem-calc(10);

  @include text-style(18, $white, 500, null);

  @include breakpoint(tablet) {
    margin-top: rem-calc(47);
  }
}

.slider {
  margin-right: rem-calc(5);
  align-self: center;
  appearance: none;
  width: rem-calc(81);
  height: rem-calc(1); /* Specified height */
  background: $cerulean; /* Grey background */
  outline: none; /* Remove outline */
  transition: opacity 0.2s;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 13px; /* Set a specific slider handle width */
    height: 13px; /* Slider handle height */
    background: $white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
    border: 1px solid $cerulean;
  }

  &::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
}
