.container {
  position: relative;
}

.top {
  padding: rem-calc(15);
  max-width: rem-calc(1100);
  margin: auto;

  @include breakpoint(tablet) {
    padding: 0;
  }
}

.hero {
  position: relative;
}

.heroImage {
  width: 100%;
}

.downloadNow {
  &Container {
    display: none;

    @include breakpoint(tablet) {
      @include flex;
      @include flex-align(null, middle);
      @include position(absolute, 0 97 0 null);
    }
  }

  &Link {
    display: block;
  }
}

.nav {
  width: 100%;
  flex-wrap: wrap;
  max-width: rem-calc(1100);
  margin: auto;

  @include flex;

  @include breakpoint(tablet) {
    @include position(absolute, null 0 -25 0);
  }

  &Card {
    min-width: 20%;
    max-width: 20%;
    border: 1px solid $mischka;
    border-right: none;
    padding: rem-calc(0 30);
    text-decoration: none;
    background-color: $white;

    @include flex;
    @include flex-align(center, middle);

    &:last-child {
      border-right: 1px solid $mischka;
    }
  }

  &CardIcon {
    @include breakpoint(tablet) {
      width: rem-calc(25);
      height: 100%;

      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &CardText {
    font-size: rem-calc(14);
    color: $ebony-clay;
    font-weight: 500;

    @include breakpoint(tablet) {
      margin-left: rem-calc(7);
    }
  }
}

.campaign {
  background-image: url("../../../images//x1.png");
}

.obesity {
  background-image: url("../../../images//x2.png");
}

.weightCalc {
  background-image: url("../../../images//x3.png");
}

.guide {
  background-image: url("../../../images//x4.png");
}

.contact {
  background-image: url("../../../images//x5.png");
}
