.container {
  display: block;

  &:not(:last-child) {
    margin-bottom: rem-calc(50);
  }

  @include breakpoint(tablet) {
    @include flex;
  }
}

.image {
  @include breakpoint(tablet) {
    width: rem-calc(545);
  }
}

.text {
  margin-top: rem-calc(15);
  align-self: center;
  text-align: center;
  padding: rem-calc(0 5);

  @include text-style(19, $abbey, null, normal);

  @include breakpoint(tablet) {
    padding: 0;
    margin-top: 0;
    margin-left: rem-calc(10);
  }
}

.switched {
  flex-direction: row-reverse;

  & .text {
    margin-left: 0;
    margin-right: rem-calc(10);
  }
}
